*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 50px;
  align-items:baseline;
  gap: 10px;
  margin-bottom: 50px;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}
